/* FileInput Css */

.validate-text {
  margin-top: 4px;
  display: flex;
  font-size: 15px;
  font-family: "ProximaNova";
}

.btn-uploade {
  position: relative;
  width: 100%;
  background-color: #f5f7f9;
  padding: 8px;
  border-radius: 1rem;

  overflow: hidden;
}

.btn-uploade input[type="file"] {
  position: absolute;
  cursor: pointer;
  border: 2px solid yellow;
  left: 0;
  top: 0;
  transform: scale(3);
  opacity: 0;
}

.upload-icon {
  font-size: 18px;
  color: #2d416b;
}

.upload-text {
  margin-top: 10px;
  margin-left: 18px;
}

.form-input-hidden {
  display: none;
}

.file-input-close-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  z-index: 1;
}

.file-input-close-icon:hover {
  box-shadow: 0px 0px 8px 0px #bbb;
  border-radius: 50%;
  cursor: pointer;
}
